<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="tmc_menu_root" 
        name="Gestión Documental" 
        sequence="5" 
        groups="tmc.group_manager,tmc.group_user,tmc.group_read_only" />

    <menuitem id="tmc_menu_documents" 
        name="Documents" 
        parent="tmc_menu_root" 
        sequence="5" />

    <menuitem id="tmc_menu_documents_all" 
        name="All Documents" 
        parent="tmc_menu_documents" 
        sequence="5" 
        action="document_action_form" />

    <menuitem id="tmc_menu_documents_dec" 
        name="Decretos" 
        parent="tmc_menu_documents" 
        sequence="10" 
        action="document_action_form_dec" />

    <menuitem id="tmc_menu_documents_conv" 
        name="Convenios" 
        parent="tmc_menu_documents" 
        sequence="12" 
        action="document_action_form_conv" />

    <menuitem id="tmc_menu_documents_res" 
        name="Resoluciones" 
        parent="tmc_menu_documents" 
        sequence="15" />

    <menuitem id="tmc_menu_documents_res_hac" 
        name="Hacienda y Economía" 
        parent="tmc_menu_documents_res" 
        sequence="5" 
        action="document_action_form_res_hac" />

    <menuitem id="tmc_menu_documents_res_pla" 
        name="Planeamiento" 
        parent="tmc_menu_documents_res" 
        sequence="10" 
        action="document_action_form_res_pla" />

    <menuitem id="tmc_menu_documents_res_gob" 
        name="Gobierno" 
        parent="tmc_menu_documents_res" 
        sequence="15" 
        action="document_action_form_res_gob" />

    <menuitem id="tmc_menu_documents_res_obr" 
        name="Obras Públicas" 
        parent="tmc_menu_documents_res" 
        sequence="20" 
        action="document_action_form_res_obr" />

    <menuitem id="tmc_menu_documents_res_amb" 
        name="Ambiente y Espacios Públicos" 
        parent="tmc_menu_documents_res" 
        sequence="25" 
        action="document_action_form_res_amb" />

    <menuitem id="tmc_menu_documents_res_sal" 
        name="Salud Pública" 
        parent="tmc_menu_documents_res" 
        sequence="30" 
        action="document_action_form_res_sal" />

    <menuitem id="tmc_menu_documents_res_des" 
        name="Desarrollo Social" 
        parent="tmc_menu_documents_res" 
        sequence="35" 
        action="document_action_form_res_des" />

    <menuitem id="tmc_menu_documents_res_prod" 
        name="Producción y Desarrollo Local" 
        parent="tmc_menu_documents_res" 
        sequence="40" 
        action="document_action_form_res_prod" />

    <menuitem id="tmc_menu_documents_res_prodei" 
        name="Producción, Empleo e Innovación" 
        parent="tmc_menu_documents_res" 
        sequence="42" 
        action="document_action_form_res_prodei" />

    <menuitem id="tmc_menu_documents_res_cul" 
        name="Cultura y Educación" 
        parent="tmc_menu_documents_res" 
        sequence="45" 
        action="document_action_form_res_cul" />

    <menuitem id="tmc_menu_documents_res_gral" 
        name="Secretaría General" 
        parent="tmc_menu_documents_res" 
        sequence="50" 
        action="document_action_form_res_gral" />

    <menuitem id="tmc_menu_documents_res_tur" 
        name="Turismo" 
        parent="tmc_menu_documents_res" 
        sequence="55" 
        action="document_action_form_res_tur" />

    <menuitem id="tmc_menu_documents_res_conv" 
        name="Control y Convivencia" 
        parent="tmc_menu_documents_res" 
        sequence="60" 
        action="document_action_form_res_conv" />

    <menuitem id="tmc_menu_documents_res_mov" 
        name="Transporte y Movilidad" 
        parent="tmc_menu_documents_res" 
        sequence="65" 
        action="document_action_form_res_mov" />

    <menuitem id="tmc_menu_documents_res_econ" 
        name="Economía Social" 
        parent="tmc_menu_documents_res" 
        sequence="70" 
        action="document_action_form_res_econ" />

    <menuitem id="tmc_menu_documents_entes" 
        name="Entes Descentralizados" 
        parent="tmc_menu_documents" 
        sequence="20" />

    <menuitem id="tmc_menu_documents_entes_ter" 
        name="Terminal de Ómnibus" 
        parent="tmc_menu_documents_entes" 
        sequence="5" 
        action="document_action_form_ter" />

    <menuitem id="tmc_menu_documents_entes_emr" 
        name="Ente de la Movilidad" 
        parent="tmc_menu_documents_entes" 
        sequence="10" 
        action="document_action_form_emr" />

    <menuitem id="tmc_menu_documents_entes_ilar" 
        name="ILAR" 
        parent="tmc_menu_documents_entes" 
        sequence="15" 
        action="document_action_form_ilar" />

    <menuitem id="tmc_menu_documents_entes_imps" 
        name="IMPS" 
        parent="tmc_menu_documents_entes" 
        sequence="20" 
        action="document_action_form_imps" />

    <menuitem id="tmc_menu_documents_entes_spv" 
        name="SPVyH" 
        parent="tmc_menu_documents_entes" 
        sequence="25" 
        action="document_action_form_spv" />

    <menuitem id="tmc_menu_documents_entes_hip" 
        name="Hipódromo" 
        parent="tmc_menu_documents_entes" 
        sequence="30" 
        action="document_action_form_hip" />

    <menuitem id="tmc_menu_documents_document_topics" 
        name="Document Topics" 
        parent="tmc_menu_root" 
        action="document_topic_action_form" 
        sequence="10" />

    <menuitem id="tmc_menu_documents_dependences_document_topics" 
        name="Dependences with Document Topics" 
        parent="tmc_menu_documents_document_topics" 
        action="" 
        sequence="10" />

    <menuitem id="tmc_menu_institutional_classifiers" 
        name="Institutional Classifiers" 
        parent="tmc_menu_root" 
        sequence="15" />

    <menuitem id="tmc_menu_dependence_order" 
        name="Dependence Order" 
        parent="tmc_menu_institutional_classifiers" 
        sequence="5" 
        action="dependence_order_action_form" />

    <menuitem id="tmc_menu_institutional_classifiers_nomenclators" 
        name="Nomenclators" 
        parent="tmc_menu_institutional_classifiers" 
        sequence="10" 
        action="institutional_classifier_action_form" />

    <menuitem id="tmc_menu_config" 
        name="Tribunal de Cuentas" 
        parent="base.menu_administration" 
        sequence="90" />

    <menuitem id="tmc_menu_dependence_config" 
        name="Dependences" 
        parent="tmc.tmc_menu_config" 
        sequence="5" 
        action="dependence_action_form" 
        groups="tmc.group_manager" />

    <menuitem id="tmc_menu_document_types_config" 
        name="Document Types" 
        parent="tmc.tmc_menu_config" 
        sequence="10" 
        action="document_type_action_form" />

    <menuitem id="tmc_menu_country_state_config" 
        name="States" 
        parent="tmc.tmc_menu_config" 
        sequence="15" 
        action="tmc.country_state_action_form" />

    <menuitem id="menu_main_personal" 
        name="Personal" 
        sequence="95" 
        action="hr_employee_action_form" 
        groups="tmc.group_manager,tmc.group_user,tmc.group_read_only" />

</odoo>