<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_main_tmc"
              name="Gestión Documental"
              sequence="5"
              groups="tmc.group_manager,tmc.group_user,tmc.group_read_only" />

    <menuitem id="menu_main_tmc_documents"
              name="Documents"
              parent="menu_main_tmc"
              sequence="5" />

    <menuitem id="menu_main_tmc_documents_document_list"
              name="All Documents"
              parent="menu_main_tmc_documents"
              sequence="5"
              action="document_list_action" />

    <menuitem id="menu_main_tmc_dec_document_list"
              name="Decretos"
              parent="menu_main_tmc_documents"
              sequence="10"
              action="document_dec_list_action" />

   <menuitem id="menu_main_tmc_convenios_document_list"
              name="Convenios"
              parent="menu_main_tmc_documents"
              sequence="12"
              action="document_conv_list_action" />

    <menuitem id="menu_main_tmc_res_document_list"
              name="Resoluciones"
              parent="menu_main_tmc_documents"
              sequence="15" />

    <menuitem id="menu_main_tmc_res_hac_document_list"
              name="Hacienda y Economía"
              parent="menu_main_tmc_res_document_list"
              sequence="5"
              action="document_res_hac_list_action" />

    <menuitem id="menu_main_tmc_res_pla_document_list"
              name="Planeamiento"
              parent="menu_main_tmc_res_document_list"
              sequence="10"
              action="document_res_pla_list_action" />

    <menuitem id="menu_main_tmc_res_gob_document_list"
              name="Gobierno"
              parent="menu_main_tmc_res_document_list"
              sequence="15"
              action="document_res_gob_list_action" />

    <menuitem id="menu_main_tmc_res_obr_document_list"
              name="Obras Públicas"
              parent="menu_main_tmc_res_document_list"
              sequence="20"
              action="document_res_obr_list_action" />

    <menuitem id="menu_main_tmc_res_amb_document_list"
              name="Ambiente y Espacios Públicos"
              parent="menu_main_tmc_res_document_list"
              sequence="25"
              action="document_res_amb_list_action" />

    <menuitem id="menu_main_tmc_res_sal_document_list"
              name="Salud Pública"
              parent="menu_main_tmc_res_document_list"
              sequence="30"
              action="document_res_sal_list_action" />

    <menuitem id="menu_main_tmc_res_dhh_document_list"
              name="Desarrollo Humano y Hábitat"
              parent="menu_main_tmc_res_document_list"
              sequence="35"
              action="document_res_dhh_list_action" />   

    <menuitem id="menu_main_tmc_res_dee_document_list"
              name="Desarrollo Económico y Empleo"
              parent="menu_main_tmc_res_document_list"
              sequence="40"
              action="document_res_dee_list_action" />

    <menuitem id="menu_main_tmc_res_cul_document_list"
              name="Cultura y Educación"
              parent="menu_main_tmc_res_document_list"
              sequence="45"
              action="document_res_cul_list_action" />

    <menuitem id="menu_main_tmc_res_mod_document_list"
              name="Modernización y Cercanía"
              parent="menu_main_tmc_res_document_list"
              sequence="50"
              action="document_res_mod_list_action" />

    <menuitem id="menu_main_tmc_res_conv_document_list"
              name="Control y Convivencia"
              parent="menu_main_tmc_res_document_list"
              sequence="60"
              action="document_res_conv_list_action" />

    <menuitem id="menu_main_tmc_res_mov_bis_document_list"
              name="Movilidad"
              parent="menu_main_tmc_res_document_list"
              sequence="65"
              action="document_res_mov_bis_list_action" />

    <menuitem id="menu_main_tmc_res_dyt_document_list"
              name="Deporte y Turismo"
              parent="menu_main_tmc_res_document_list"
              sequence="70"
              action="document_res_dyt_list_action" />

    <menuitem id="menu_main_tmc_res_gdh_document_list"
              name="Género y DDHH"
              parent="menu_main_tmc_res_document_list"
              sequence="75"
              action="document_res_gdh_list_action" />

    <menuitem id="menu_main_tmc_ex_res_document_list"
              name="Ex Secretarías"
              parent="menu_main_tmc_documents"
              sequence="18" />

    <menuitem id="menu_main_tmc_res_des_document_list"
              name="Desarrollo Social"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="5"
              action="document_res_des_list_action" />

    <menuitem id="menu_main_tmc_res_prod_document_list"
              name="Producción y Desarrollo Local"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="10"
              action="document_res_prod_list_action" />

    <menuitem id="menu_main_tmc_res_prodei_document_list"
              name="Producción, Empleo e Innovación"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="15"
              action="document_res_prodei_list_action" />

    <menuitem id="menu_main_tmc_res_gral_document_list"
              name="Secretaría General"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="50"
              action="document_res_gral_list_action" />

    <menuitem id="menu_main_tmc_res_tur_document_list"
              name="Turismo"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="55"
              action="document_res_tur_list_action" /> 

    <menuitem id="menu_main_tmc_res_econ_document_list"
              name="Economía Social"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="60"
              action="document_res_econ_list_action" />

    <menuitem id="menu_main_tmc_res_mov_document_list"
              name="Transporte y Movilidad"
              parent="menu_main_tmc_ex_res_document_list"
              sequence="65"
              action="document_res_mov_list_action" />

   <menuitem id="menu_main_tmc_entes_document_list"
              name="Entes Descentralizados"
              parent="menu_main_tmc_documents"
              sequence="20" />

    <menuitem id="menu_main_tmc_entes_ter_document_list"
              name="Terminal de Ómnibus"
              parent="menu_main_tmc_entes_document_list"
              sequence="5"
              action="document_ter_list_action" />

    <menuitem id="menu_main_tmc_entes_emr_document_list"
              name="Ente de la Movilidad"
              parent="menu_main_tmc_entes_document_list"
              sequence="10"
              action="document_emr_list_action" />

    <menuitem id="menu_main_tmc_entes_ilar_document_list"
              name="ILAR"
              parent="menu_main_tmc_entes_document_list"
              sequence="15"
              action="document_ilar_list_action" />

    <menuitem id="menu_main_tmc_entes_imps_document_list"
              name="IMPS"
              parent="menu_main_tmc_entes_document_list"
              sequence="20"
              action="document_imps_list_action" />

    <menuitem id="menu_main_tmc_entes_spv_document_list"
              name="SPVyH"
              parent="menu_main_tmc_entes_document_list"
              sequence="25"
              action="document_spv_list_action" />

    <menuitem id="menu_main_tmc_entes_hipodromo_document_list"
              name="Hipódromo"
              parent="menu_main_tmc_entes_document_list"
              sequence="30"
              action="document_hipodromo_list_action" />

    <menuitem id="menu_main_tmc_documents_document_topics_list"
              name="Document Topics"
              parent="menu_main_tmc"
              sequence="10" />

    <menuitem id="menu_main_tmc_documents_document_topics"
              name="Main and Secondary Topics"
              parent="menu_main_tmc_documents_document_topics_list"
              action="document_topic_list_action"
              sequence="5" />

    <menuitem id="menu_main_tmc_dependences_document_topics"
              name="Dependences with Document Topics"
              parent="menu_main_tmc_documents_document_topics_list"
              action="dependence_document_topic_list_action"
              sequence="10" />

    <menuitem id="menu_main_tmc_institutional_classifiers"
              name="Institutional Classifier"
              parent="menu_main_tmc"
              sequence="15" />

    <menuitem id="menu_main_tmc_dependence_orders_list"
              name="Dependence Order"
              parent="menu_main_tmc_institutional_classifiers"
              sequence="5"
              action="dependence_order_list_action" />

    <menuitem id="menu_main_tmc_institutional_classifiers_nomenclator_list"
              name="Nomenclators"
              parent="menu_main_tmc_institutional_classifiers"
              sequence="10"
              action="institutional_classifier_list_action" />

    <menuitem id="menu_tmc_config"
              name="Tribunal de Cuentas"
              parent="base.menu_administration"
              sequence="90" />

    <menuitem id="menu_main_tmc_dependence_config"
              name="Dependences"
              parent="tmc.menu_tmc_config"
              sequence="5"
              action="dependence_list_action"
              groups="tmc.group_manager" />

    <menuitem id="menu_tmc_document_types_config"
              name="Document Types"
              parent="tmc.menu_tmc_config"
              sequence="10"
              action="tmc.document_type_list_action" />

    <menuitem id="menu_country_state_config"
              name="States"
              parent="tmc.menu_tmc_config"
              sequence="15"
              action="tmc.country_state_list_action" />

    <menuitem id="menu_main_personal"
              name="Personal"
              sequence="95"
              action="tmc_hr_employee_list_action"
              groups="tmc.group_manager,tmc.group_user,tmc.group_read_only" />

</odoo>